.discount-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2em;
  padding: 0.4em 1em;
  margin:auto;
  width: max-content;
  background: linear-gradient(125.17deg, rgb(29, 32, 33) 0%, rgb(14, 13, 23) 100%);
  border-radius: 12px;
}

.percent {
  min-width:2.4em;
}

.discount-title {
  font-size: 20px;
  color:#b8b4b4
}

.text-highlight {
  color:#E8E6E3;
}