.text-container {
  display: flex;
  flex-flow: column;
  margin-bottom: 1.5rem;
}

.text-title {
  font-size: 54px;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.text-subTitle {
  font-size: 20px;
  padding-bottom: 1.5rem;
}