.card {
  padding:3rem;
  display: flex;
  flex-flow:column;
  border-radius: 16px;
  width: 27%;

}

.card:hover {
  background: linear-gradient(144.39deg, #181a1b -278.56%, #52595c -78.47%, #0e0d17 91.61%);
}