@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color:rgba(0, 3, 12,1);
  font-family: 'Open Sans',sans-serif;
  height: -webit-fill-avaible;
  min-height: 100vh;
  /* max-width: 100%;
  overflow-x: hidden; */
}

html {
  height: -webit-fill-avaible;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, rgb(10, 62, 64) 0.89%, rgb(13, 81, 83) 17.23%, rgb(16, 100, 103) 42.04%, rgb(19, 118, 122) 55.12%, rgb(22, 138, 142) 71.54%, rgb(39, 148, 164) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  color:rgb(232, 230, 227);
}

.subTitle {
  color: rgba(232, 230, 227, 0.7);
}